<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <title>{{ destination.destination }}</title>
</head>
<body class="d-flex h-100 text-center text-white bg-dark" data-new-gr-c-s-check-loaded="14.1026.0" data-gr-ext-installed="">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">Distance details</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link active" aria-current="page" href="/">Main</a>
        <a class="nav-link" href="/destination">Distance list</a>
{#        <a class="nav-link" href="#">Contact</a>#}
      </nav>
    </div>
  </header>

  <main class="px-3">
    <h1>{{ destination.destination }}</h1>
            <h2>{{ destination.location }} - {{ destination.destination }}</h2>
            <p>{{ destination.distance }} km </p>
            <p><b>Date: {{ destination.created.date() }}</b></p>
            <div class="h-50 d-inline-block" style="width: 500px; background-color: rgba(0,0,255,.1)">
                {{ map|safe }}
            </div>

  </main>
    <br>
    <br>

<footer class="mt-auto text-white-50">
    <p>Map task</p>
</footer>
</div>
</body>
</html>