<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <title>Distance list</title>
</head>
<body class="d-flex h-100 text-center text-white bg-dark" data-new-gr-c-s-check-loaded="14.1026.0" data-gr-ext-installed="">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">Destination list</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link active" aria-current="page" href="/">Main</a>
{#        <a class="nav-link" href="#">Distance list</a>#}
{#        <a class="nav-link" href="#">Contact</a>#}
      </nav>
    </div>
  </header>

  <main class="px-3">
    <h1>Destination list</h1>
    {% for el in destinations %}
        <br>
        <div class="card-body">
            <h2>{{ el.location }} - {{ el.destination }}</h2>
            <p>{{ el.distance }} km </p>
            <p><b>Date: {{ el.created.date() }}</b></p>
            <a href="/destination/{{ el.id }}" class="btn btn-warning">Details</a>
            <a href="/destination/{{ el.id }}/del" class="btn btn-warning">Delete</a>
        </div>
        <br>
    {% endfor %}

  </main>
    <br>
    <br>

<footer class="mt-auto text-white-50">
    <p>Map task</p>
</footer>
</div>
</body>
</html>